<a mat-list-item routerLink="." class="list" routerLink="dashboard" routerLinkActive="active">
    <mat-icon class="mr-10">dashboard</mat-icon>Dashboard
</a>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-icon class="mr-10">settings_applications</mat-icon> Expension
    </mat-expansion-panel-header>
    <a mat-list-item routerLink="xxx" class="list" routerLinkActive="active">
        <mat-icon class="mr-10">accessible_forward</mat-icon> sub Expension
    </a>

</mat-expansion-panel>